.Dashboard-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .Left-Column {
        display: flex;
        flex-direction: column;
        width: 30vw;

        h4 {
            text-align: left;
        }

        .Dashboard-Usercard {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-color: #efefef;
            display: flex;
            height: 7rem;
            margin: 20px;
            padding: 20px;
    
            p {
                align-self: flex-start;
            }
        }
    
        .Dashboard-ActiveGames {
            background-color: #efefef;
            margin: 20px;
            width: 90%;
        }
    }

    .Center-Column {
        width: 45vw;

        .Dashboard-UserList {
            background-color: #efefef;
            margin: 20px 40px;
            padding: 20px;
        }
    }
}